<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas com TypeScript</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
    <header class="bg-danger text-white text-center py-3">
        <a href="../../" class="text-white text-decoration-none">
            <h1>Deletar Tarefas</h1>
        </a>
    </header>
    <main class="container my-5 d-flex flex-column align-items-center">
    </main>
</body>

</html>